###> symfony/framework-bundle ###
/app/.env
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/var/
/app/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/app/node_modules/
/app/public/build/
/app/npm-debug.log
/app/yarn-error.log
###< symfony/webpack-encore-bundle ###

###> lexik/jwt-authentication-bundle ###
/app/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

/.idea

###> extension ###
# Environment Configuration
/extension/.env
/extension/.env.*

# Dependency directory
/extension/node_modules

# Test coverage directory
/extension/coverage

# Ignore Apple macOS Desktop Services Store
/extension/.DS_Store

# Logs
/extension/logs
/extension/*.log

# extensions build output
/extension/extensions/*/build
###< extension ###